@font-face {
  font-family: 'MissionGothicRegular';
  src: url('../fonts/missiongothicregular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/missiongothicregular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/missiongothicregular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/missiongothicregular.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/missiongothicregular.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/missiongothicregular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'ThomasHeadlineCEBold';
  src: url('../fonts/thomasheadlinecebold_2_4-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/thomasheadlinecebold_2_4-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/thomasheadlinecebold_2_4-webfont.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/thomasheadlinecebold_2_4-webfont.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/thomasheadlinecebold_2_4-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/thomasheadlinecebold_2_4-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'ThomasHeadlineCEBlack';
  src: url('../fonts/thomasheadlineceblack.eot'); /* IE9 Compat Modes */
  src: url('../fonts/thomasheadlineceblack.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/thomasheadlineceblack.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/thomasheadlineceblack.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/thomasheadlineceblack.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/thomasheadlineceblack.svg#svgFontName') format('svg'); /* Legacy iOS */
}
